@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.woff2") format("woff2"),
    url("../assets/fonts/Roboto.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}