:root {
  /* ========= COLORS ========= */
  --color-black: #1C1C1C;
  --color-accent-text: #969696;
  --color-acent: #007BFF;
  --color-text: #545454;

  /* ========= FONTS ========= */
  --font-main: "Roboto", sans-serif;

  /* ========= FONT WEIGHTS ========= */
  --fw-regular: 400;
  --fw-medium: 500;

  /* ========= FONT SIZES ========= */
  --fs-md: 13px;
  --fs-lg: 15px;
  --fs-xl: 24px;

  /* ========= LINE HEIGHTS ========= */
  --lh-normal: 1.33;
  --lh-base: 1.38;
  --lh-loose: 1.46;
}